.display {
  grid-row: 1 / span 2;
  padding: 0.2em 0.4em;
  font-size: 3em;
  text-align: end;
  background-color: rgba(108, 255, 108, 0.712);
  box-shadow: black 0 0 0 1px inset;
  color: rgb(39, 92, 39);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.display::selection {
  background-color: rgb(2, 250, 2); ;
}